.object-fit-preview-image {
  max-height: 200px;
  width: 100%;
  object-fit: cover; /*magic*/
}

.object-fit-image {
  max-height: 500px;
  width: 100%;
  object-fit: contain; /*magic*/
}

.form-control input {
  width: 100%;
}

