{% extends "layout.html" %}
{% block title %} {{_('Admin')}} {% endblock %}
{% block content %}
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#current" role="tab">Current Round</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#former" role="tab">Former Rounds</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#questions" role="tab">Questions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#user" role="tab">User</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content p-1">
  <div class="tab-pane active" id="current" role="tabpanel">
    <div class="row">
      <div class="col-8">
        {% if current_round is not none%}
        <h3>Round startet at {{ current_round.created_at }}</h3>
      </div>
      <div class="col-2">
        <a class="btn btn-warning btn-sm float-right
           {% if not shall_shuffle %}disabled{% endif %}"
           href="{% if shall_shuffle %}/edit_round?action=shuffle{% else %}#{% endif %}"
           role="button">Shuffle</a>
      </div>
      <div class="col-2">
        <a class="btn btn-danger btn-sm float-right" href="#" role="button">End Round</a>
      </div>
    </div>
    <div class="row">
      <div class="col"><h4>Participations</h4></div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-hover">
          <thead class="thead-default">
          <tr>
            <th>User</th>
            <th>Eligible</th>
            <th>Filled</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          {% for participation in participations%}
          <tr>
            <td>
              {{ participation.description.user.email }}
            </td>
            <td>
              {{ participation.eligible }}
            </td>
            <td>
              {{ participation.description.is_filled }}
            </td>
            <td>
              <a class="btn btn-danger btn-sm" href="/edit_participation?action=remove&id={{participation.id}}"
                 role="button">Remove Participation</a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    <p>There is currently no active round!</p>
    <div class="row">
      <div class="col">
        <a class="btn btn-success btn-sm" href="/add_round" role="button">Add Round</a>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="tab-pane" id="former" role="tabpanel">{{rounds}}</div>
  <div class="tab-pane" id="questions" role="tabpanel">
    <table class="table table-hover">
      <thead class="thead-default">
      <tr>
        <th>Text</th>
        <th>Type</th>
        <th><p>&nbsp;</p></th>
        <th><p>&nbsp;</p></th>
      </tr>
      </thead>
      <tbody>
      {% for question in questions%}
      <tr>
        <td>{{ question.text }}</td>
        <td>{{ question.q_type }}</td>
        <td>
          <a class="btn btn-{% if question.in_cur_round %}danger{% else %}success{% endif %} btn-sm"
             href="/edit_question?action=use&id={{question.id}}"
             role="button">
            {% if question.in_cur_round %}Use Question{% else %}Don't Use Question{% endif %}
          </a>
        </td>
        <td>
          <a class="btn btn-sm {% if question.in_use %}btn-secondary disabled{% else %}btn-danger{% endif %}"
             href="{% if question.in_use %}#{% else %}/edit_question?action=delete&id={{question.id}}{% endif %}"
             {% if question.in_use %}aria-disabled="true" {% endif %}
             role="button">
            Delete Question
          </a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="user" role="tabpanel">
    <table class="table table-hover">
      <thead class="thead-default">
      <tr>
        <th>Id</th>
        <th>Admin</th>
        <th><p>&nbsp;</p></th>
      </tr>
      </thead>
      <tbody>
      {% for user in users%}
      <tr>
        <td>{{ user.email }}</td>
        <td>
          <a class="btn btn-{% if user.admin %}danger{% else %}success{% endif %} btn-sm"
             href="/edit_user?action=admin&mail={{user.email}}"
             role="button">
            Toggle Admin
          </a>
        </td>
        <td>
          <a class="btn btn-danger btn-sm"
             href="/edit_user?action=delete&mail={{user.email}}"
             role="button">
            Remove User
          </a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
