<div class="row">
  <div class="col-md-12">
    <p class="lead">{{_('Which famous person (fictional or real)
      describes you the best?') }}
    </p>
    <a href="{{ description.person }}">
      <img src="{{ description.person }}"/>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="lead">{{_('What does a perfect saturday evening look like
      for you?') }}
    </p>
    <a href="{{ description.saturday }}">
      <img src="{{ description.saturday }}"/>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="lead">
      {{_('Where would you like to be right now?') }}
    </p>
    <a href="{{ description.place}}">
      <img src="{{ description.place }}"/>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="lead">
      {{_('What is your favourite quote?') }}
    </p>
    <p>
      {{_(description.quote) }}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="lead">
      {{_('What background theme should play in your life?') }}
    </p>
    <p>
      <a href="{{_(description.theme) }}">
        {{_(description.theme) }}
      </a>
    </p>
  </div>
</div>
