{% extends "layout.html" %}
{% block title %} {{_('Gallery')}} {% endblock %}
{% block content %}
<script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<script>
$(document).ready(function(){
    $('.gallery-item').slick({
        infinite: false,
        arrows: false,
        dots:true
    });
});
</script>

<div class="card">
  <div class="card-body">
    <div>
      <div class="gallery-item">
        {% for description in descriptions %}
        <div>
          {% include 'description.html' %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
