{% extends "layout.html" %}
{% block title %} {{_('Home')}} {% endblock %}
{% block content %}
{% if participation is none %}
<div>
  <div class="alert alert-warning" role="alert">
    {{ _('There is no round at the moment!') }}
  </div>
</div>
{% elif not participation.eligible %}
<div class="card">
  <div class="card-header">
    {{_('Welcome to the current round of SecretSanta.')}}
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ _('Please enter your question below.') }}</h4>
    <form action="{{ url_for('add_question') }}" method="post">
      {{ form.csrf_token }}
      {% for field in form if field.widget.input_type != 'hidden' %}
      <div class="form-group">
        {{ field.label }}
        {{ field(class_="form-control") }}
      </div>
      {% endfor %}
      <div class="form-group">
        <input type='submit' value="{{_('Post Question')}}" class='btn btn-primary'/>
      </div>
    </form>
  </div>
</div>
{% else %}
{% if desc %}
<div class="card">
  <div class="card-header">
    {{_('The drawing is complete!')}}
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ _('Here is the description of your beneficiary.') }}</h4>
    {% for description in desc %}
    <div class="form-group">
      <p>{{ description.question.text }}</p>
      <div class="form-control">
        {% if description.question.q_type == 'image' %}
        <img class="object-fit-image" src="/uploads/{{description.answer.text}}"/>
        {% elif description.question.q_type == 'sound' %}
        <div>
          <audio controls>
            <source src="/uploads/{{description.answer.text}}">
            Your browser does not support the audio element.
          </audio>
        </div>
        {% else %}
        {{description.answer.text}}
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% elif form is none %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">{{ _('Well done!') }}</h4>
  <p>{{ _('You are eligible to participate. Please wait until the round has been set up.') }}</p>
</div>
{% else %}
<div class="card">
  <div class="card-header">
    {{_('The current round has begun.')}}
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ _('Please answer the questions below.') }}</h4>
    <form action="{{ url_for('description') }}" method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
      {% for field in form if field.widget.input_type != 'hidden' %}
      <div class="form-group">
        {{ field.label }}
        <div class="form-control">
          {{ field(class_="form-control") }}
          {% if field.description == 'image' %}
          {% if field.default %}
          <p>&nbsp;</p>
          <p><strong>{{_('Preview of current answer:')}}</strong></p>
          <img class="object-fit-preview-image" src="/uploads/{{field.default}}"/>
          {% endif %}
          {% elif field.description == 'sound' %}
          {% if field.default %}
          <p>&nbsp;</p>
          <p><strong>{{_('Preview of current answer:')}}</strong></p>
          <div>
            <audio controls>
              <source src="/uploads/{{field.default}}">
              Your browser does not support the audio element.
            </audio>
          </div>
          {% endif %}
          {% endif %}
        </div>
      </div>
      {% endfor %}
      <div class="form-group">
        <input type='submit' value="{{_('Submit')}}" class='btn btn-primary'/>
      </div>
    </form>
  </div>
</div>
{% endif %}
{% endif %}

{% endblock %}