{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="header clearfix">
    <nav role="navigation">
      <ul class="nav nav-pills float-right">
        {% if active > -1 %}
        <li class="nav-item">
          <a class="nav-link {% if active == 0: %} active {% endif %}" href="/">
            {{_('Home')}}
          </a>
        </li>
        {% if is_admin %}
        <li class="nav-item">
          <a class="nav-link {% if active == 1: %} active {% endif %}" href="/admin">
            {{_('Admin')}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active == 2: %} active {% endif %}" href="/gallery">
            {{_('Gallery')}}
          </a>
        </li>

        {% endif %}
        <li class="nav-item">
          <a href="logout" class="nav-link text-danger">
            {{_('Logout')}}
          </a>
        </li>
        {%endif%}
      </ul>
    </nav>
    <a href="/"><h3 class="text-muted">Secret Santa</h3></a>
  </div>
  <p class="lead"></p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-danger" role="alert">
    {% for message in messages %}
    <div class="row justify-content-md-center">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  <main role="main">
    {% block content %}
    {% endblock %}
  </main>
</div>
{% endblock %}
