<!DOCTYPE html>
<html lang="en">
<head>
  <title>SecretSanta - {% block title %}{% endblock %} </title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/slick.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/slick-theme.css') }}" rel="stylesheet" type="text/css">
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
</head>
<body>
<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        {% if active > -1 %}
        <li class="nav-item">
          <a class="nav-link {% if active == 0: %} active {% endif %}" href="/">
            {{_('Home')}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active == 1: %} active {% endif %}" href="description">
            {{_('Current Description')}}
          </a>
        </li>
        <li class="nav-item">
          <a href="logout" class="nav-link text-danger">
            {{_('Logout')}}
          </a>
        </li>
        {%endif%}
      </ul>
    </nav>
    <h3 class="text-muted">Secret Santa</h3>
  </div>
  <p class="lead"></p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-danger" role="alert">
    {% for message in messages %}
    <div class="row justify-content-md-center">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  <main role="main">
    <div class="jumbotron">
      {% block content %}
      {% endblock %}
    </div>
  </main>
</div>
</body>
</html>
