{% extends "layout.html" %}
{% block title %} {{_('Request a reset link for your password')}} {% endblock %}
{% block content %}
<form action="{{ url_for('request_reset_password') }}" method="post">
  {{ form.csrf_token }}
  {% for field in form if field.widget.input_type != 'hidden' %}
  <div class="form-group">
    {{ field.label }}
    {{ field(class_="form-control") }}
  </div>
  {% endfor %}
  <input type='submit' value="{{_('Request Reset Link')}}" class='btn
        btn-primary btn-lg'/>
  </div>
</form>
</center>
{% endblock %}
